.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}



.btn {
  background: #0affa5;
  background-image: -webkit-linear-gradient(top, #0affa5, #406b6b);
  background-image: -moz-linear-gradient(top, #0affa5, #406b6b);
  background-image: -ms-linear-gradient(top, #0affa5, #406b6b);
  background-image: -o-linear-gradient(top, #0affa5, #406b6b);
  background-image: linear-gradient(to bottom, #0affa5, #406b6b);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: center;
  margin-top: 60px;
}

.btn:hover {
  background: #438c8c;
  background-image: -webkit-linear-gradient(top, #438c8c, #11f5cb);
  background-image: -moz-linear-gradient(top, #438c8c, #11f5cb);
  background-image: -ms-linear-gradient(top, #438c8c, #11f5cb);
  background-image: -o-linear-gradient(top, #438c8c, #11f5cb);
  background-image: linear-gradient(to bottom, #438c8c, #11f5cb);
  text-decoration: none;
}
